/*h1
{ color:antiquewhite;
    text-align:center;
    background-color:black;
    
}
p{
    color: brown;
    text-align: right;
    
}
{
     border-style: dotted dashed solid double;
    border-width: thick 15px medium 25px;
    border-color: brown blue yellowgreen violet;
    border-radius: 5px;
}    
div {
     border: 10px solid black;
    padding: 150px 150px  150px 150px ;
    background-color: rgb(106, 61, 88);
    width: 200px;
    height: 200px; 
}
h1{
    padding: 20px;
    border: 2px dotted rgb(83, 83, 179);
} */
